.awcache
.dockerignore
.git
.gitignore
.github
.vscode
bin
data*
dist
docker
Dockerfile
docs
dump.rdb
node_modules
/local
/tmp
*.yml
*.md

plugins/odj-product-info/node_modules/
plugins/simple-app-plugin/node_modules/
